/* ======================================================= */
/* CSS for control sap.suite.ui.microchart/AreaMicroChart  */
/* Horizon High Contrast Black Theme                       */
/* ======================================================= */

.sapSuiteAMCTarget {
	outline-width: 7px;
}

html.sap-desktop .sapSuiteAMC:focus {
  outline: @sapUiContentFocusWidth @sapUiContentFocusStyle @sapUiContentFocusColor;
}

.sapSuiteAMCChart.sapSuiteAMCSemanticColorNeutral,
.sapSuiteAMCTarget.sapSuiteAMCSemanticColorNeutral {
	text-shadow: @sapContent_TextShadow;
}