/* ========================================================= */
/* CSS for sap.suite.ui.microchart/RadialMicroChart.control  */
/* Horizon High Contrast White Theme                         */
/* ========================================================= */

.sapSuiteRMCCircleBackground {
	fill: @sapUiHcStandardBackground;
}

.sapSuiteRMCAccessibleTextColor {
	fill: @sapUiHcStandardForeground;
}

html.sap-desktop .sapSuiteRMC:focus {
  	outline: @sapUiContentFocusWidth @sapUiContentFocusStyle @sapUiContentFocusColor;
}