/* ======================================= */
/* CSS for control sap.ui.comp/SmartChart  */
/* Evening Horizon theme                   */
/* ======================================= */

@_sap_ui_comp_SmartChart_ToolbarDesign: ~"Solid";

.sapUiCompSmartChart {
	background: @sapUiChartBackgroundColor;
	border-radius: @sapUiElementBorderCornerRadius;
    padding-bottom: 1rem;
}