//None
@sapSuiteMCSemanticColorNone: @sapChart_Sequence_Neutral;
@sapSuiteMCSemanticColorNoneText: @sapChart_Sequence_Neutral_TextColor;
@sapSuiteMCSemanticColorNoneBorder: @sapChart_Sequence_Neutral_BorderColor;
@sapChartSequenceNoneTextShadow: @sapChart_Sequence_Neutral_TextShadow;

//Netural
@sapSuiteMCSemanticColorNeutral: @sapChart_Sequence_Neutral;
@sapSuiteMCSemanticColorNeutralText: @sapChart_Sequence_Neutral_TextColor;
@sapSuiteMCSemanticColorNeutralBorder: @sapChart_Sequence_Neutral_BorderColor;
@sapChartSequenceNeutralTextShadow: @sapChart_Sequence_Neutral_TextShadow;

//Good
@sapSuiteMCSemanticColorGood: @sapChart_Sequence_Good;
@sapSuiteMCSemanticColorGoodText: @sapChart_Sequence_Good_TextColor;
@sapSuiteMCSemanticColorGoodBorder: @sapChart_Sequence_Good_BorderColor;
@sapChartSequenceGoodTextShadow: @sapChart_Sequence_Good_TextShadow;

//Critical
@sapSuiteMCSemanticColorCritical: @sapChart_Sequence_Critical;
@sapSuiteMCSemanticColorCriticalText: @sapChart_Sequence_Critical_TextColor;
@sapSuiteMCSemanticColorCriticalBorder: @sapChart_Sequence_Critical_BorderColor;
@sapChartSequenceCriticalTextShadow: @sapChart_Sequence_Critical_TextShadow;

//Bad or Error
@sapSuiteMCSemanticColorError: @sapChart_Sequence_Bad;
@sapSuiteMCSemanticColorErrorText: @sapChart_Sequence_Bad_TextColor;
@sapSuiteMCSemanticColorErrorBorder: @sapChart_Sequence_Bad_BorderColor;
@sapChartSequenceErrorTextShadow: @sapChart_Sequence_Bad_TextShadow;

//Sequence1
@sapSuiteMCSemanticColorSequence1: @sapChart_Sequence_1;
@sapSuiteMCSemanticColorSequence1Text: @sapChart_Sequence_1_TextColor;
@sapSuiteMCSemanticColorSequence1Border: @sapChart_Sequence_1_BorderColor;
@sapChartSequence1TextShadow: @sapChart_Sequence_1_TextShadow;

// Sequence2
@sapSuiteMCSemanticColorSequence2: @sapChart_Sequence_2;
@sapSuiteMCSemanticColorSequence2Text: @sapChart_Sequence_2_TextColor;
@sapSuiteMCSemanticColorSequence2Border: @sapChart_Sequence_2_BorderColor;
@sapChartSequence2TextShadow: @sapChart_Sequence_2_TextShadow;

// Sequence3
@sapSuiteMCSemanticColorSequence3: @sapChart_Sequence_3;
@sapSuiteMCSemanticColorSequence3Text: @sapChart_Sequence_3_TextColor;
@sapSuiteMCSemanticColorSequence3Border: @sapChart_Sequence_3_BorderColor;
@sapChartSequence3TextShadow: @sapChart_Sequence_3_TextShadow;

// Sequence4
@sapSuiteMCSemanticColorSequence4: @sapChart_Sequence_4;
@sapSuiteMCSemanticColorSequence4Text: @sapChart_Sequence_4_TextColor;
@sapSuiteMCSemanticColorSequence4Border: @sapChart_Sequence_4_BorderColor;
@sapChartSequence4TextShadow: @sapChart_Sequence_4_TextShadow;

// Sequence5
@sapSuiteMCSemanticColorSequence5: @sapChart_Sequence_5;
@sapSuiteMCSemanticColorSequence5Text: @sapChart_Sequence_5_TextColor;
@sapSuiteMCSemanticColorSequence5Border: @sapChart_Sequence_5_BorderColor;
@sapChartSequence5TextShadow: @sapChart_Sequence_5_TextShadow;

// Sequence6
@sapSuiteMCSemanticColorSequence6: @sapChart_Sequence_6;
@sapSuiteMCSemanticColorSequence6Text: @sapChart_Sequence_6_TextColor;
@sapSuiteMCSemanticColorSequence6Border: @sapChart_Sequence_6_BorderColor;
@sapChartSequence6TextShadow: @sapChart_Sequence_6_TextShadow;

// Sequence7
@sapSuiteMCSemanticColorSequence7: @sapChart_Sequence_7;
@sapSuiteMCSemanticColorSequence7Text: @sapChart_Sequence_7_TextColor;
@sapSuiteMCSemanticColorSequence7Border: @sapChart_Sequence_7_BorderColor;
@sapChartSequence7TextShadow: @sapChart_Sequence_7_TextShadow;

// Sequence8
@sapSuiteMCSemanticColorSequence8: @sapChart_Sequence_8;
@sapSuiteMCSemanticColorSequence8Text: @sapChart_Sequence_8_TextColor;
@sapSuiteMCSemanticColorSequence8Border: @sapChart_Sequence_8_BorderColor;
@sapChartSequence8TextShadow: @sapChart_Sequence_8_TextShadow;

// Sequence9
@sapSuiteMCSemanticColorSequence9: @sapChart_Sequence_9;
@sapSuiteMCSemanticColorSequence9Text: @sapChart_Sequence_9_TextColor;
@sapSuiteMCSemanticColorSequence9Border: @sapChart_Sequence_9_BorderColor;
@sapChartSequence9TextShadow: @sapChart_Sequence_9_TextShadow;

// Sequence10
@sapSuiteMCSemanticColorSequence10: @sapChart_Sequence_10;
@sapSuiteMCSemanticColorSequence10Text: @sapChart_Sequence_10_TextColor;
@sapSuiteMCSemanticColorSequence10Border: @sapChart_Sequence_10_BorderColor;
@sapChartSequence10TextShadow: @sapChart_Sequence_10_TextShadow;

// Sequence11
@sapSuiteMCSemanticColorSequence11: @sapChart_Sequence_11;
@sapSuiteMCSemanticColorSequence11Text: @sapChart_Sequence_11_TextColor;
@sapSuiteMCSemanticColorSequence11Border: @sapChart_Sequence_11_BorderColor;
@sapChartSequence11TextShadow: @sapChart_Sequence_11_TextShadow;

// Sequence12
@sapSuiteMCSemanticColorSequence12: @sapChart_Sequence_12;
@sapSuiteMCSemanticColorSequence12Text: @sapChart_Sequence_12_TextColor;
@sapSuiteMCSemanticColorSequence12Border: @sapChart_Sequence_12_BorderColor;
@sapChartSequence12TextShadow: @sapChart_Sequence_12_TextShadow;

// Mixin to apply background colors based on semantic color from colors.less
.sapSuiteSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    color: @sapSuiteMCSemanticColorNone;
  }
  &.@{classPrefix}Neutral {
    color: @sapSuiteMCSemanticColorNeutral;
  }
  &.@{classPrefix}Good {
    color: @sapSuiteMCSemanticColorGood;
  }
  &.@{classPrefix}Critical {
    color: @sapSuiteMCSemanticColorCritical;
  }
  &.@{classPrefix}Error {
    color: @sapSuiteMCSemanticColorError;
  }
  &.@{classPrefix}Sequence1 {
    color: @sapSuiteMCSemanticColorSequence1;
  }
  &.@{classPrefix}Sequence2 {
      color: @sapSuiteMCSemanticColorSequence2;
  }
  &.@{classPrefix}Sequence3 {
      color: @sapSuiteMCSemanticColorSequence3;
  }
  &.@{classPrefix}Sequence4 {
      color: @sapSuiteMCSemanticColorSequence4;
  }
  &.@{classPrefix}Sequence5 {
      color: @sapSuiteMCSemanticColorSequence5;
  }
  &.@{classPrefix}Sequence6 {
      color: @sapSuiteMCSemanticColorSequence6;
  }
  &.@{classPrefix}Sequence7 {
      color: @sapSuiteMCSemanticColorSequence7;
  }
  &.@{classPrefix}Sequence8 {
      color: @sapSuiteMCSemanticColorSequence8;
  }
  &.@{classPrefix}Sequence9 {
      color: @sapSuiteMCSemanticColorSequence9;
  }
  &.@{classPrefix}Sequence10 {
      color: @sapSuiteMCSemanticColorSequence10;
  }
  &.@{classPrefix}Sequence11 {
      color: @sapSuiteMCSemanticColorSequence11;
  }
  &.@{classPrefix}Sequence12 {
      color: @sapSuiteMCSemanticColorSequence12;
  }
}

// Mixin to apply text colors based on semantic color from colors.less
.sapSuiteTextSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    color: @sapSuiteMCSemanticColorNoneText; // Neutral Text Color
  }
  &.@{classPrefix}Neutral {
    color: @sapSuiteMCSemanticColorNeutralText; // Neutral Text Color
  }
  &.@{classPrefix}Good {
    color: @sapSuiteMCSemanticColorGoodText;
  }
  &.@{classPrefix}Critical {
    color: @sapSuiteMCSemanticColorCriticalText;
  }
  &.@{classPrefix}Error {
    color: @sapSuiteMCSemanticColorErrorText;
  }
  &.@{classPrefix}Sequence1 {
    color: @sapSuiteMCSemanticColorSequence1Text;
  }
  &.@{classPrefix}Sequence2 {
      color: @sapSuiteMCSemanticColorSequence2Text;
    }
  &.@{classPrefix}Sequence3 {
      color: @sapSuiteMCSemanticColorSequence3Text;
    }
  &.@{classPrefix}Sequence4 {
      color: @sapSuiteMCSemanticColorSequence4Text;
    }
  &.@{classPrefix}Sequence5 {
      color: @sapSuiteMCSemanticColorSequence5Text;
    }
  &.@{classPrefix}Sequence6 {
      color: @sapSuiteMCSemanticColorSequence6Text;
    }
  &.@{classPrefix}Sequence7 {
      color: @sapSuiteMCSemanticColorSequence7Text;
    }
  &.@{classPrefix}Sequence8 {
      color: @sapSuiteMCSemanticColorSequence8Text;
    }
  &.@{classPrefix}Sequence9 {
      color: @sapSuiteMCSemanticColorSequence9Text;
    }
  &.@{classPrefix}Sequence10 {
      color: @sapSuiteMCSemanticColorSequence10Text;
    }
  &.@{classPrefix}Sequence11 {
      color: @sapSuiteMCSemanticColorSequence11Text;
    }
  &.@{classPrefix}Sequence12 {
      color: @sapSuiteMCSemanticColorSequence12Text;
    }
}

// Mixin to apply text colors based on semantic color from colors.less
.sapSuiteChartTextSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    color: @sapSuiteMCSemanticColorNoneText; // Neutral Text Color
    text-shadow: @sapChartSequenceNoneTextShadow;
  }
  &.@{classPrefix}Neutral {
    color: @sapSuiteMCSemanticColorNeutralText; // Neutral Text Color
    text-shadow: @sapChartSequenceNeutralTextShadow;
  }
  &.@{classPrefix}Good {
    color: @sapSuiteMCSemanticColorGoodText;
    text-shadow: @sapChartSequenceGoodTextShadow;
  }
  &.@{classPrefix}Critical {
    color: @sapSuiteMCSemanticColorCriticalText;
    text-shadow: @sapChartSequenceCriticalTextShadow;
  }
  &.@{classPrefix}Error {
    color: @sapSuiteMCSemanticColorErrorText;
    text-shadow: @sapChartSequenceErrorTextShadow;
  }
  &.@{classPrefix}Sequence1 {
    color: @sapSuiteMCSemanticColorSequence1Text;
    text-shadow: @sapChartSequence1TextShadow;
  }
  &.@{classPrefix}Sequence2 {
      color: @sapSuiteMCSemanticColorSequence2Text;
      text-shadow: @sapChartSequence2TextShadow;
    }
  &.@{classPrefix}Sequence3 {
      color: @sapSuiteMCSemanticColorSequence3Text;
      text-shadow: @sapChartSequence3TextShadow;
    }
  &.@{classPrefix}Sequence4 {
      color: @sapSuiteMCSemanticColorSequence4Text;
      text-shadow: @sapChartSequence4TextShadow;
    }
  &.@{classPrefix}Sequence5 {
      color: @sapSuiteMCSemanticColorSequence5Text;
      text-shadow: @sapChartSequence5TextShadow;
    }
  &.@{classPrefix}Sequence6 {
      color: @sapSuiteMCSemanticColorSequence6Text;
      text-shadow: @sapChartSequence6TextShadow;
    }
  &.@{classPrefix}Sequence7 {
      color: @sapSuiteMCSemanticColorSequence7Text;
      text-shadow: @sapChartSequence7TextShadow;
    }
  &.@{classPrefix}Sequence8 {
      color: @sapSuiteMCSemanticColorSequence8Text;
      text-shadow: @sapChartSequence8TextShadow;
    }
  &.@{classPrefix}Sequence9 {
      color: @sapSuiteMCSemanticColorSequence9Text;
      text-shadow: @sapChartSequence9TextShadow;
    }
  &.@{classPrefix}Sequence10 {
      color: @sapSuiteMCSemanticColorSequence10Text;
      text-shadow: @sapChartSequence10TextShadow;
    }
  &.@{classPrefix}Sequence11 {
      color: @sapSuiteMCSemanticColorSequence11Text;
      text-shadow: @sapChartSequence11TextShadow;
    }
  &.@{classPrefix}Sequence12 {
      color: @sapSuiteMCSemanticColorSequence12Text;
      text-shadow: @sapChartSequence12TextShadow;
    }
}
// Mixin to apply background colors based on semantic color from colors.less
.sapSuiteBackgroundSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    background-color: @sapSuiteMCSemanticColorNone;
  }
  &.@{classPrefix}Neutral {
    background-color: @sapSuiteMCSemanticColorNeutral;
  }
  &.@{classPrefix}Good {
    background-color: @sapSuiteMCSemanticColorGood;
  }
  &.@{classPrefix}Critical {
    background-color: @sapSuiteMCSemanticColorCritical;
  }
  &.@{classPrefix}Error {
    background-color: @sapSuiteMCSemanticColorError;
  }
  &.@{classPrefix}Sequence1 {
    background-color: @sapSuiteMCSemanticColorSequence1;
  }
  &.@{classPrefix}Sequence2 {
      background-color: @sapSuiteMCSemanticColorSequence2;
  }
  &.@{classPrefix}Sequence3 {
      background-color: @sapSuiteMCSemanticColorSequence3;
  }
  &.@{classPrefix}Sequence4 {
      background-color: @sapSuiteMCSemanticColorSequence4;
  }
  &.@{classPrefix}Sequence5 {
      background-color: @sapSuiteMCSemanticColorSequence5;
  }
  &.@{classPrefix}Sequence6 {
      background-color: @sapSuiteMCSemanticColorSequence6;
  }
  &.@{classPrefix}Sequence7 {
      background-color: @sapSuiteMCSemanticColorSequence7;
  }
  &.@{classPrefix}Sequence8 {
      background-color: @sapSuiteMCSemanticColorSequence8;
  }
  &.@{classPrefix}Sequence9 {
      background-color: @sapSuiteMCSemanticColorSequence9;
  }
  &.@{classPrefix}Sequence10 {
      background-color: @sapSuiteMCSemanticColorSequence10;
  }
  &.@{classPrefix}Sequence11 {
      background-color: @sapSuiteMCSemanticColorSequence11;
  }
  &.@{classPrefix}Sequence12 {
      background-color: @sapSuiteMCSemanticColorSequence12;
  }
}

// Mixin to apply border colors based on semantic color from colors.less
.sapSuiteBorderSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    border-color: @sapSuiteMCSemanticColorNoneBorder;
  }
  &.@{classPrefix}Neutral {
    border-color: @sapSuiteMCSemanticColorNeutralBorder;
  }
  &.@{classPrefix}Good {
    border-color: @sapSuiteMCSemanticColorGoodBorder;
  }
  &.@{classPrefix}Critical {
    border-color: @sapSuiteMCSemanticColorCriticalBorder;
  }
  &.@{classPrefix}Error {
    border-color: @sapSuiteMCSemanticColorErrorBorder;
  }
  &.@{classPrefix}Sequence1 {
    border-color: @sapSuiteMCSemanticColorSequence1Border;
  }
  &.@{classPrefix}Sequence2 {
      border-color: @sapSuiteMCSemanticColorSequence2Border;
  }
  &.@{classPrefix}Sequence3 {
      border-color: @sapSuiteMCSemanticColorSequence3Border;
  }
  &.@{classPrefix}Sequence4 {
      border-color: @sapSuiteMCSemanticColorSequence4Border;
  }
  &.@{classPrefix}Sequence5 {
      border-color: @sapSuiteMCSemanticColorSequence5Border;
  }
  &.@{classPrefix}Sequence6 {
      border-color: @sapSuiteMCSemanticColorSequence6Border;
  }
  &.@{classPrefix}Sequence7 {
      border-color: @sapSuiteMCSemanticColorSequence7Border;
  }
  &.@{classPrefix}Sequence8 {
      border-color: @sapSuiteMCSemanticColorSequence8Border;
  }
  &.@{classPrefix}Sequence9 {
      border-color: @sapSuiteMCSemanticColorSequence9Border;
  }
  &.@{classPrefix}Sequence10 {
      border-color: @sapSuiteMCSemanticColorSequence10Border;
  }
  &.@{classPrefix}Sequence11 {
      border-color: @sapSuiteMCSemanticColorSequence11Border;
  }
  &.@{classPrefix}Sequence12 {
      border-color: @sapSuiteMCSemanticColorSequence12Border;
  }
}


.sapSuiteStrokeSemanticColor(@classPrefix) {
  &.@{classPrefix}None {
    stroke: @sapSuiteMCSemanticColorNone;
  }
  &.@{classPrefix}Neutral {
    stroke: @sapSuiteMCSemanticColorNeutral;
  }
  &.@{classPrefix}Good {
    stroke: @sapSuiteMCSemanticColorGood;
  }
  &.@{classPrefix}Critical {
    stroke: @sapSuiteMCSemanticColorCritical;
  }
  &.@{classPrefix}Error {
    stroke: @sapSuiteMCSemanticColorError;
  }
  &.@{classPrefix}Sequence1 {
    stroke: @sapSuiteMCSemanticColorSequence1;
  }
  &.@{classPrefix}Sequence2 {
    stroke: @sapSuiteMCSemanticColorSequence2;
  }
  &.@{classPrefix}Sequence3 {
    stroke: @sapSuiteMCSemanticColorSequence3;
  }
  &.@{classPrefix}Sequence4 {
    stroke: @sapSuiteMCSemanticColorSequence4;
  }
  &.@{classPrefix}Sequence5 {
    stroke: @sapSuiteMCSemanticColorSequence5;
  }
  &.@{classPrefix}Sequence6 {
    stroke: @sapSuiteMCSemanticColorSequence6;
  }
  &.@{classPrefix}Sequence7 {
    stroke: @sapSuiteMCSemanticColorSequence7;
  }
  &.@{classPrefix}Sequence8 {
    stroke: @sapSuiteMCSemanticColorSequence8;
  }
  &.@{classPrefix}Sequence9 {
    stroke: @sapSuiteMCSemanticColorSequence9;
  }
  &.@{classPrefix}Sequence10 {
    stroke: @sapSuiteMCSemanticColorSequence10;
  }
  &.@{classPrefix}Sequence11 {
    stroke: @sapSuiteMCSemanticColorSequence11;
  }
  &.@{classPrefix}Sequence12 {
    stroke: @sapSuiteMCSemanticColorSequence12;
  }
}
