/* ======================================= */
/* CSS for control sap.ui.comp/SmartTable  */
/* Horizon High Contrast White theme       */
/* ======================================= */

@_sap_ui_comp_SmartTable_ExportButton: ~"Transparent";
@_sap_ui_comp_SmartTable_ToolbarDesign: ~"Solid";
@_sap_ui_comp_SmartTable_HeaderStyle: ~"H5";

.sapUiCompSmartTable .sapUiCompCurrencyMonoFont,
.sapUiCompMultiCurrency .sapUiCompCurrencyMonoFont {
	font-family: @sapContent_MonospaceFontFamily;
}