/* ======================================================== */
/* CSS for control sap.suite.ui.microchart/BulletMicroChart */
/* Fiori 3 High Contrast White Theme                        */
/* ======================================================== */

html.sap-desktop .sapSuiteBMCContent:focus {
  outline: @sapUiContentFocusWidth @sapUiContentFocusStyle @sapUiContentFocusColor;
}

.sapSuiteBMCTargetValue {
	color: @sapUiHcStandardForeground ;
}

.sapSuiteBMCBarValue {
	border-left: 1px @sapUiHcStandardBackground solid;
	border-right: 1px @sapUiHcStandardBackground solid;
}

.sapSuiteBMCBarValue.sapSuiteBMCForecast {
	border-bottom: 1px @sapUiHcStandardBackground solid;
	border-left: 0;
	border-right: 0;
}

html[dir=rtl] .sapSuiteBMCForecastBarValue {
	border-left: 1px @sapUiHcStandardBackground solid;
	border-right: 0;
}

.sapSuiteBMCForecastBarValue {
	border-left: 0;
	border-right: 1px @sapUiHcStandardBackground solid;
}

.sapSuiteBMCBarValueMarker.sapSuiteBMCModeTypeDelta {
	border-left: 1px @sapUiHcStandardBackground solid;
	border-right: 1px @sapUiHcStandardBackground solid;
}
