/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/ComparisonMicroChart */
/* High Contrast White Theme                                    */
/* ============================================================ */

.sapSuiteCpMCChartBar > div {
	height: 0.25rem;
}

.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCSizeS > div,
.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCSizeXS > div,
.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCResponsive > div {
	height: 0.25rem;
}

html.sap-desktop .sapSuiteCpMCChartContent[tabindex]:focus {
  outline: 2px dotted @sapUiContentFocusColor;
}

.sapSuiteCpMCChartBarValue {
	border: 1px solid @sapUiChartDataPointBGBorderColor;
}